@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>

        所属部门：<input id="majors_add_depart" /> @*<select id="majors_add_depart" class="easyui-combobox"></select>*@<br />
        专业名称:@*<input type="text" id="majors_add_major"/>*@
        <input class="easyui-textbox" id="majors_add_major" data-options="prompt:'请输入专业名称'"><br />
        
    </div>
    <script>
        $(function () {
            $("#majors_add_depart").combobox({
                url: "/departments/getdepartments",
                valueField: 'ID',
                textField: "Name"
            });
            //$.get("/departments/getdepartments", function (data) {
            //    $(data).each(function (index, dept) {
            //        //如果使用easyui的话，下面的代码会把数据添加到隐藏的select中
            //        $("#majors_add_depart").append("<option value='" + dept.ID + "'>" + dept.Name + "</option>");
            //    });
            //}, "json");
        });
    </script>
</body>
</html>
