@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script>
        $(function () {
            var tb =
               [
                   {
                       text: '添加',
                       iconCls: 'icon-add',
                       handler: function () {
                           var url = "/teachers/Add";
                           $("#teacheres_add_dlg").dialog({
                               title: "教师添加--",
                               iconCls: 'icon-add',

                               modal: true,  //指定该对话框是模态对话框
                               width: 300,
                               height: 200,
                               href: url,
                               buttons: [
                                  {
                                      text: '保存',
                                      iconCls: 'icon-save',
                                      handler: function () {
                                          //easyui的form自动提交（ajax)
                                          $("#teachers_add").form({
                                              url: "/Teachers/AddTeacher/",
                                              success: function (data) {
                                                  if (data == "ok") {
                                                      $.messager.show({
                                                          title: '提示...',
                                                          msg: '保存成功！',
                                                          showType: 'show'
                                                      });
                                                      $("#teacheres_add_dlg").dialog("close");
                                                      $("#tb").datagrid("reload");
                                                  }
                                                  else
                                                      $.messager.show({
                                                          title: '提示...',
                                                          msg: '保存失败！',
                                                          showType: 'show'
                                                      });
                                              }
                                          });

                                          $('#teachers_add').submit();  //提交到服务器端


                                          //jQuery form的方法serialize()  -- 会自动组织form中的元素，按name来序列化

                                          //var da = $("#teachers_add").serialize();  //需要form中元素的name与接口中的参数一致

                                          //$.get("/Teachers/AddTeacher", da, function (data) {
                                          //    if (data == "ok") {
                                          //        $.messager.show({
                                          //            title: '提示...',
                                          //            msg: '保存成功！',
                                          //            showType: 'show'
                                          //        });
                                          //        $("#teacheres_add_dlg").dialog("close");
                                          //        $("#tb").datagrid("reload");
                                          //    }
                                          //    else
                                          //        $.messager.show({
                                          //            title: '提示...',
                                          //            msg: '保存失败！',
                                          //            showType: 'show'
                                          //        });

                                          //}, "text");
                                      }
                                  },
                                   {
                                       text: '取消',
                                       iconCls: 'icon-cancel',
                                       handler: function () {
                                           $("#teacheres_add_dlg").dialog("close");

                                       }
                                   }
                               ]
                           });
                       }

                   },
                   {
                       text: "修改",
                       iconCls: "icon-edit",
                       handler: function () {

                       }
                   },
                   '-',
                   {
                       text: '删除',
                       iconCls: 'icon-remove',
                       handler: function () {

                       }
                   },
                   '-',
                   {
                       text: '班主任管理',
                       iconCls: 'icon-lock',
                       handler: function () {
                           var row = $("#tb").datagrid("getSelected");
                           if (row == null) {
                               $.messager.alert("提示...", "请选择要重置密码的用户!", "warning");
                               return;
                           }
                           var name = row.Name;
                           //var r = confirm("确信要重置“" + name + "”的密码吗？");//BOM浏览器对象，会返回用户选择的按钮,true/false
                           $.messager.confirm("提示...", "确信要重置“" + name + "”的密码吗？", function (result) {
                               if (result) //true
                               {
                                   //取到id，传送个服务器
                                   var id = row.ID;
                                   $.get("/teachers/ResetPass/", { id: id }, function (data) {
                                       if (data == "ok")
                                           $.messager.show({
                                               title: '提示...',
                                               msg: '密码重置成功！',
                                               showType: 'show'
                                           });
                                       else
                                           $.messager.show({
                                               title: '提示...',
                                               msg: '密码重置失败！',
                                               showType: 'show'
                                           });
                                   }, "text");

                               }

                           });
                       }
                   }
               ];

            $("#majors").combobox({
                width: 240,
                editable:false,
                url: "/majors/GetMajorsByDepartmentId?deptId=20",
                valueField: 'ID',
                textField: "Name"
            });
            //$("#majors").combobox("")
            $("#majors").combobox("select","1");
            $("#tb").datagrid({
                url: '/classes/GetClassesListByMajorIdWithDirector/',
                queryParams:{
                    majorId: $("#majors").combobox("getValue")
                },
                width: 700,
                height: 420,
                fitColumns: true,
                singleSelect: true,

                toolbar: tb,
                columns: [[
                    { field: 'Name', title: '班级名称', width: 80 },
                    { field: 'TeacherName', title: '班主任姓名', width: 100 },
                    { field: 'TeacherNo', title: '班主任工号工号', width: 100 }
                    
                ]]
            });
        });
        function query() {
            $("#tb").datagrid("load", {
                majorId: $("#majors").combobox("getValue")
            });
        }
    </script>
</head>
<body>
    <div>
        <select id="majors" class="easyui-combobox">
        <option value="-1">全部</option>
        </select><a onclick="query();" style="width:60px;" class="easyui-linkbutton">查询</a>
        <table id="tb"></table>
    </div>
</body>
</html>
